[Unit]
Description=Powerful edge-guard

[Service]
Type=forking
Restart=always
ExecStart=/usr/local/bin/edge-guard serve --config=/etc/edge-guard.conf

[Install]
WantedBy=multi-user.target
